<div class='container main-container'>
  <div class='container'>
    <p id="like-kitties">I like kitties <span>(click me)</span></p>
    <p id="especially" class='hidden'>Especially Alex</p>
  </div>
</div>
